@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 62.5%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font: 1.6rem "Montserrat",sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    letter-spacing: .1rem;
    min-height: 100svh;
}
*{
    box-sizing: border-box;
}
ul,ol{
    margin: 0; 
    padding: 0;
    list-style-type: none;
}
h1,h2,h3{
    margin: 0;
    font-weight: normal;
}
a{
    text-decoration: none;
}
button{
    border: 0;
    padding: 0;
}
header h1{
    font-size: xx-large;
    text-align: center;
    background-color: #6c63ff;
    color: #fff;
    line-height: 8rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem 0 #222,
    -.1rem -.1rem 0 #222,
    .1rem -.1rem 0 #222,
    -.1rem .1rem 0 #222;
}
section {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: .8rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
}
section ul{
    border-top: .1rem solid #ccc;
    margin-top: 1rem;
}
section ul li{
   line-height: 3rem;
}
section ul li:first-child{
    padding-top: 1rem;
}
section ul li:last-child{
    padding-top: 3rem;
    font-size: small;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input {
    width: 100%;
    font-size: inherit;
    padding: 1rem;
    margin-bottom: 1rem;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: all .6s ease-in-out;
}
form input:focus{
    outline: none;
    box-shadow: 0 0 2rem red;
}
form button, .btn-primary {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    width: max-content;
}
form button:hover {
    background: #0056b3;
}
.error {
    color: rgb(194, 12, 12);
    margin-bottom: 1rem;
}
.picture-cover-primary{
    max-width: 40rem;
    margin: 1rem auto;
   
}
.picture-message-little{
    max-width: 15rem;
}
.picture-cover-primary img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;

}
footer *{
    text-align: center;
    font-size: small;
}